# Target
CONFIG_IDF_TARGET="esp32c6"

# Flash
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

# Increase main task stack for HTTP client
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192

# OTA partition table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

# Allow HTTP (non-TLS) OTA downloads
CONFIG_ESP_HTTPS_OTA_ALLOW_HTTP=y
